    .color1 {
        background-color: #4e3deb;
        height: 100%;
    }

    .color2 {
        background-color: #e6bc89;
        height: 100%;
    }

    .color3 {
        background-color: #d4a08e;
        height: 100%;
    }
    .color4 {
        background-color: #31a53d;
        height: 100%;
    }
    .altColumna {
        height: 40px;
    }
    .filaNav {
        height: 100px;
    }

    .filaSide-sm {
        height: 830px;
    }

    .custom-width {
        width: 230px;
    }

    .custom-cs-height {
        width: 275px;
    }

    .custom-cs-width {
        width: 636px;
    }

    @media (max-width: 576px) {
        /* Ajusta el tamaño del SVG en pantallas pequeñas */
        .svg-responsive {
            width: 100%;
            height: auto;
        }
    }

    @media (max-width: 767.98px) {
        .custom-cs-height {
            height: 156px;
        }
    }

    @media (max-width: 767.98px) {
        .custom-cs-width {
            width: 156px;
        }
    }


    @media (max-width: 767.98px) {
        .custom-width {
            width: 156px;
        }
    }

    @media (max-width: 767.98px) {
        .filaSide-sm {
            height: 90px;
        }
    }

    .custom-height {
        height: 275px;   
    }

    @media (max-width: 767.98px) {
        .custom-height {
            height: 350px;
        }
    }